<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ClassIt</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?h=2af7d76fa8741adedbb4bb2ef7773241">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css?h=18313f04cea0e078412a028c5361bd4e">
    <link rel="stylesheet" href="../static/css/DA_About.css?h=2c0b63d5c1436ef6e00c49b3cc01cd22">
    <link rel="stylesheet" href="../static/css/Drag-and-Drop-File-Input.css?h=64fb85e42b8098c99fb7c1d475b87649">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Search.css?h=cc854edeeadd4c06dfda9f834e92e87a">
    <link rel="stylesheet" href="../static/css/OcOrato---Contact-Information-bar-line-with-e-mail-link-1.css?h=17346ca50d8e5be448b6e54bd2101b2a">
</head>

<body style="margin: auto;margin-right: 0px;padding-top: 110px;background-color: rgb(238,238,238);">
    <div class="container" style="width: 770px;height: 400px;margin: auto;padding: 0px;padding-left: 14px;">
        <div class="row" style="margin: auto;margin-left: auto;">
            <div class="col-lg-12 text-center" style="width: 720px;height: 77px;margin: auto;">
                <h2 class="text-uppercase section-heading">get in touch</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" name="contactForm" novalidate="novalidate">
                    <div class="form-row">
                        <div class="col col-md-6">
                            <div class="form-group"><input class="form-control" type="text" id="name" placeholder="Full Name" required="" style="height: 54px;"><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                            <div class="form-group"><input class="form-control" type="email" id="email" placeholder="Email Address" required="" style="height: 54px;"><small class="form-text text-danger help-block lead"></small></div>
                            <div class="form-group"><input class="form-control" type="tel" id="phone" placeholder="Phone Number" required="" style="height: 54px;"><small class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><textarea class="form-control" id="message" placeholder="Enter your message here..." required="" style="height: 194px;"></textarea><small class="form-text text-danger help-block lead"></small></div>
                        </div>
                        <div class="col">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <h3 id="Amessage" style="color:gray;"></h3>
                            <div id="success"></div><button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit" style="background-color: #51c2bb;height: 40px;width: 112px;">Send&nbsp;</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bs-init.js?h=98fdbbd86223499341d76166d015c405"></script>
    <script src="../static/js/Drag-and-Drop-File-Input.js?h=5c15cb1692c4405b6343a937b7915b83"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../static/js/theme.js?h=6d33b44a6dcb451ae1ea7efc7b5c5e30"></script>
    <script src="../static/js/contact.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</body>

</html>