<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard-ClassIt</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?h=2af7d76fa8741adedbb4bb2ef7773241">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css?h=18313f04cea0e078412a028c5361bd4e">
    <link rel="stylesheet" href="../static/css/DA_About.css?h=2c0b63d5c1436ef6e00c49b3cc01cd22">
    <link rel="stylesheet" href="../static/css/Drag-and-Drop-File-Input.css?h=64fb85e42b8098c99fb7c1d475b87649">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Search.css?h=cc854edeeadd4c06dfda9f834e92e87a">
    <link rel="stylesheet" href="../static/css/OcOrato---Contact-Information-bar-line-with-e-mail-link-1.css?h=17346ca50d8e5be448b6e54bd2101b2a">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background-color: #51c2bb;width: 250px;height: 1330px;">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="width: 200px;height: 82px;padding: 30px 14px ;">
                    <div class="sidebar-brand-text mx-3" style="width: 0px;height: 40px;margin: 0px;"></div>
                    <img src="../static/img/classit.png" style="width: 213px;height: 62px;margin: 40px 80px 10px 40px;"></a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="Home.html"><i class="fas fa-home"></i><span>Home</span></a><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="Messages.html"><i class="material-icons">mail_outline</i><span href="Messages.html">Requests</span></a><a class="nav-link" href="Contact%20Us.html"><i class="icon ion-paper-airplane" style="height: 21px;"></i><span>Contact Us<br></span></a></li>
                    <li
                        class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="blank.html"></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="background-color: #f9f7f7;">
                <div class="container-fluid" style="height: 290px;">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="height: 72px;">
                        <h3 class="text-dark mb-0" style="margin: auto;font-size: 34px;">ClassIt, the easy way.</h3>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0" style="margin: auto;font-size: 30px;height: 62px;"><strong>welcome!&nbsp;</strong></h3>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0" style="margin: auto;font-size: 20px;color: rgb(17,45,200);background-color: rgba(211,209,209,0);filter: blur(0px);"><i class="fas fa-envelope-open-text" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(7,0,0);font-size: 17px;"></i>You have 2 new requests. Show requests&nbsp; &nbsp;</h3>
                    </div>
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                </div>
                <div class="container">
                    <h3 class="text-dark mb-0" style="font-size: 24px;color: rgb(0,0,0);padding-top: 0px;padding-bottom: 14px;"><strong>&nbsp;Why ClassIT?&nbsp;</strong></h3>
                    <h3 class="text-dark mb-0" style="font-size: 18px;color: rgb(0,0,0);"><br>&nbsp;<i class="fa fa-check" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(56,80,237);font-size: 16px;"></i>&nbsp; &nbsp; The easy way to manage your organization's rooms.<br><br></h3>
                    <h3 class="text-dark mb-0"
                        style="font-size: 18px;color: rgb(0,0,0);padding-left: 0px;"><br><i class="fa fa-check" data-bs-hover-animate="rubberBand" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(56,80,237);font-size: 16px;"></i>&nbsp; &nbsp; Smart algorithm that saves your time- you'll only get relevant
                        requests by your organization's space availability.&nbsp;<br><br></h3>
                    <h3 class="text-dark mb-0" style="font-size: 18px;"><strong>&nbsp;&nbsp;</strong><br><i class="fa fa-check" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(56,80,237);font-size: 16px;"></i>&nbsp;&nbsp; &nbsp;Maximum utilization of room's space to maximize your financial
                        profit.<br><br></h3>
                    <h3 class="text-dark mb-0" style="font-size: 18px;"><strong>&nbsp;&nbsp;</strong><br><i class="fa fa-check" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(56,80,237);font-size: 16px;"></i>&nbsp; &nbsp;Extensive marketing of your space by location.&nbsp;<br><br></h3>
                    <h3
                        class="text-dark mb-0" style="font-size: 18px;"><strong>&nbsp;&nbsp;</strong><br><i class="fa fa-check" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(56,80,237);font-size: 16px;"></i>&nbsp; Secured platform. Your organization's information saved in a secured
                        system database.&nbsp; &nbsp;<br><br></h3>
                        <h3 class="text-dark mb-0" style="font-size: 18px;"><strong>&nbsp;&nbsp;</strong><br><i class="fa fa-check" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(56,80,237);font-size: 16px;"></i>&nbsp; &nbsp;Easy to use- simple interface for all users to learn.</h3>
                        <h3
                            class="text-dark mb-0" style="font-size: 18px;"><strong>&nbsp;&nbsp;</strong><br><i class="fa fa-check" style="margin-left: 0px;margin-right: 5px;height: 24px;color: rgb(56,80,237);font-size: 16px;"></i>&nbsp; We'll be here to help and support you anytime and guarantee the best
                            experience with ClassIt.</h3>
                </div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="clearfix"></div>
            </div>
            <footer class="bg-white sticky-footer" style="margin: auto;background-color: #f9f7f7;">
                <div class="container my-auto" style="margin: auto;">
                    <div class="text-center my-auto copyright"><span>Copyright © ClassIt 2020</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bs-init.js?h=98fdbbd86223499341d76166d015c405"></script>
    <script src="../static/js/Drag-and-Drop-File-Input.js?h=5c15cb1692c4405b6343a937b7915b83"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../static/js/theme.js?h=6d33b44a6dcb451ae1ea7efc7b5c5e30"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

</body>

</html>