<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ClassIt</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?h=2af7d76fa8741adedbb4bb2ef7773241">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css?h=18313f04cea0e078412a028c5361bd4e">
    <link rel="stylesheet" href="../static/css/DA_About.css?h=2c0b63d5c1436ef6e00c49b3cc01cd22">
    <link rel="stylesheet" href="../static/css/Drag-and-Drop-File-Input.css?h=64fb85e42b8098c99fb7c1d475b87649">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Search.css?h=cc854edeeadd4c06dfda9f834e92e87a">
    <link rel="stylesheet" href="../static/css/OcOrato---Contact-Information-bar-line-with-e-mail-link-1.css?h=17346ca50d8e5be448b6e54bd2101b2a">
</head>

<body>
    <section id="services-1">
         <img src="../static/img/לוגו%20קלאסיט.jpeg" style="width: 276px;height: 78px;margin: 30px;padding: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin: auto;height: 160px;">
                    <h2 class="text-uppercase section-heading"></h2>
                    <h3 class="text-muted section-subheading" style="font-size: 25px;height: 130px;"><strong>CLASSIT - THE EASY WAY TO ORDER A CALSSROOM.</strong></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x"><a href="Order%20classroom.html">Link<i class="fa fa-calendar-check-o fa-stack-1x fa-inverse" style="background-color: #51c2bb;width: 124px;height: 116px;"></i></a></span>
                    <h4 class="section-heading" style="font-size: 18px;">ORDER A CLASSROOM</h4>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><a href="login.html">Link<i class="far fa-user fa-stack-1x fa-inverse" style="background-color: #51c2bb;width: 124px;height: 116px;"></i></a></span>
                    <h4 class="section-heading" style="font-size: 18px;">ACCOUNT LOGIN</h4>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><a href="register.html">Link<i class="fas fa-user-plus fa-stack-1x fa-inverse" style="margin: 0px;padding: 0px;width: 124px;background-color: #51c2bb;height: 116px;padding-top: 0px;"></i></a></span>
                    <h4 class="section-heading"
                        style="font-size: 18px;">NEW ACCOUNT</h4>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center" style="padding: 0px 12px;padding-left: 12px;padding-right: 12px;">
        <div class="intro" style="margin-top: 150px;">
            <div>
                <section>
                    <div class="jumbotron" style="margin: 0px;padding: 0px;padding-top: 0px;"></div>
                    <div class="jumbotron" style="margin: 0px;padding: 0px;padding-top: 0px;">
                        <p class="text-center" style="margin: 0px 0px 8px;font-size: 14px;font-family: Quicksand, sans-serif;max-width: 800px;min-width: 500px;height: 8px;padding: 0px 12px;"><br></p>
                    </div>
                </section>
            </div>
            <h3 class="text-center" style="color: #51c2bb;padding-right: 12px;padding-left: 12px;margin: auto;"><strong>ABOUT CLASSIT</strong></h3>
            <p class="text-center" style="color: rgb(133,135,150);font-family: Muli, sans-serif;padding-right: 12px;padding-left: 12px;height: 200px;margin: auto;">Booking or renting a classroom can be a long process.<br>Today there is an effective and easy solution to the problem<br><strong>ClassIt</strong><br>&nbsp; With ClassIt you can easily book or rent classes for your organization or for private
                purposes.<br><br>Come join the success!<br></p>
        </div>
    </div>
    <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center highlight-blue" id="About" style="height: 500px;background-color: rgba(255,255,255,0.9);padding-top: 89px;padding-bottom: 80px;">
        <hr style="height: 2px;color: #214a80;background-color: #172f76;">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bs-init.js?h=98fdbbd86223499341d76166d015c405"></script>
    <script src="../static/js/Drag-and-Drop-File-Input.js?h=5c15cb1692c4405b6343a937b7915b83"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../static/js/theme.js?h=6d33b44a6dcb451ae1ea7efc7b5c5e30"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</body>

</html>
