<!DOCTYPE html>
<html style="background-color: #51c2bb;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login-ClassIt</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?h=2af7d76fa8741adedbb4bb2ef7773241">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css?h=18313f04cea0e078412a028c5361bd4e">
    <link rel="stylesheet" href="../static/css/DA_About.css?h=2c0b63d5c1436ef6e00c49b3cc01cd22">
    <link rel="stylesheet" href="../static/css/Drag-and-Drop-File-Input.css?h=64fb85e42b8098c99fb7c1d475b87649">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Search.css?h=cc854edeeadd4c06dfda9f834e92e87a">
    <link rel="stylesheet" href="../static/css/OcOrato---Contact-Information-bar-line-with-e-mail-link-1.css?h=17346ca50d8e5be448b6e54bd2101b2a">
</head>

<body style="background-color: #51c2bb">
    <div class="container flex-grow-0" style="background-color: #51c2bb;filter: color: #54b7c6;">
        <div class="row justify-content-center" style="background-color: #51c2bb">
            <div class="col-md-9 col-lg-12 col-xl-10" style="background-color: #51c2bb">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div class="p-5" style="max-width: 912px;min-width: 0px;">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Log into you ClassIt account</h4>
                                    </div>
                                    <form class="user" id="login_form">
                                        <div class="form-group">
											<input class="form-control form-control-user" type="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email" style="margin: auto;max-width: 400px;"></div>
                                        <div
                                            class="form-group">
											<input class="form-control form-control-user" type="password" id="password" placeholder="Password" name="password" style="margin: auto;max-width: 400px;">
                                        </div>
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit" style="width: 180px;margin: auto;height: 47px;font-size: 16px;color: #54b7c6;background-color: #51c2bb;">Login</button>
                                        <div id="Amessage" style="color:gray;"></div>
                                <hr>
                                <hr>
                                </form>
                                <div class="text-center"><a class="small" href="register.html" style="color: rgb(110,112,126);">Create a new account!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bs-init.js?h=98fdbbd86223499341d76166d015c405"></script>
    <script src="../static/js/Drag-and-Drop-File-Input.js?h=5c15cb1692c4405b6343a937b7915b83"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../static/js/theme.js?h=6d33b44a6dcb451ae1ea7efc7b5c5e30"></script>
	<script src="../static/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</body>

</html>