<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - ClassIt - new</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="../static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/fonts/material-icons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="../static/css/DA_About.css">
    <link rel="stylesheet" href="../static/css/Drag-and-Drop-File-Input.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="../static/css/OcOrato---Contact-Information-bar-line-with-e-mail-link-1.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background-color: #51c2bb;height: 1330px;">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="width: 234px;height: 82px;padding: 30px 14px;">
                    <div class="sidebar-brand-text mx-3" style="width: 0px;height: 40px;margin: 0px;"></div>
                    <img src="../static/img/classit.png" style="width: 213px;height: 62px;margin: 40px 80px 10px 40px;">
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="Home.html">
                            <i class="fas fa-home"></i>
                            <span>Home</span>
                        </a>
                        <a class="nav-link" href="profile.html">
                            <i class="fas fa-user">
                            </i><span>Profile</span>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="Messages.html">
                            <i class="material-icons">mail_outline</i>
                            <span href="Messages.html">Requests</span>
                        </a>
                        <a class="nav-link" href="Contact%20Us.html">
                            <i class="icon ion-paper-airplane" style="height: 21px;"></i>
                            <span>Contact Us<br></span>
                        </a>
                    </li>
                    <li
                        class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="blank.html"></a>
                        </li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4" style="height: 80px;padding-top: 32px;">CLASSROOM INVITATION REQUESTS</h3>
                    <div class="card shadow">
                        <div class="card-header py-3" style="height: 70px;">
                            <p class="text-primary m-0 font-weight-bold" style="color: rgb(127,131,143);font-size: 20px;">New Requests</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Building Name&nbsp;</th>
                                            <th>&nbsp;Class Number</th>
                                            <th>Beginning Time</th>
                                            <th>&nbsp;End Time</th>
                                            <th>&nbsp;date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="messages_tbody">
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="margin: auto;background-color: #f9f7f7;">
                <div class="container my-auto" style="margin: auto;">
                    <div class="text-center my-auto copyright"><span>Copyright © ClassIt 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
    <script src="../static/js/Drag-and-Drop-File-Input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../static/js/theme.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="../static/js/messages.js"></script>
</body>

</html>