<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile-ClassIt</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css?h=2af7d76fa8741adedbb4bb2ef7773241">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome5-overrides.min.css?h=18313f04cea0e078412a028c5361bd4e">
    <link rel="stylesheet" href="../static/css/DA_About.css?h=2c0b63d5c1436ef6e00c49b3cc01cd22">
    <link rel="stylesheet" href="../static/css/Drag-and-Drop-File-Input.css?h=64fb85e42b8098c99fb7c1d475b87649">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navigation-with-Search.css?h=cc854edeeadd4c06dfda9f834e92e87a">
    <link rel="stylesheet" href="../static/css/OcOrato---Contact-Information-bar-line-with-e-mail-link-1.css?h=17346ca50d8e5be448b6e54bd2101b2a">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background-color: #51c2bb;width: 250px;height: 1330px;">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="width: 200px;height: 82px;padding: 30px 14px ;">
                    <div class="sidebar-brand-text mx-3" style="width: 0px;height: 40px;margin: 0px;"></div><img src="../static/img/logo%20svg.svg?h=4afb97530a027ca2e92de9dcfc94e382" style="width: 224px;height: 100px;padding: 18px 32px 4px 0px;"></a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="Home.html"><i class="fas fa-home"></i><span>Home</span></a><a class="nav-link active" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="Messages.html"><i class="material-icons">mail_outline</i><span href="Messages.html">Messages</span></a><a class="nav-link" href="Contact%20Us.html"><i class="icon ion-paper-airplane" style="height: 21px;"></i><span>Contact Us<br></span></a></li>
                    <li
                        class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="blank.html"></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3" style="color: rgb(73,74,84);background-color: rgba(255,255,255,0);">
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" style="height: 1026px;">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold" style="color: rgb(207,207,207);">User Info</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="name"><strong>Full Name</strong></label><input id="name" class="form-control" type="text" placeholder="John" name="first_name" readonly></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Email Address</strong></label><input id="email" class="form-control" type="email" placeholder="john@gmail.com" name="email" readonly></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Phone Number</strong><br></label><input id="number" class="form-control" type="email" placeholder="050-123-4567" name="email" readonly></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">College Info</p>
                                        </div>
                                        <div class="card-body">
                                            <form id="instForm">
                                                <div class="form-group"><label for="colla"><strong>College Name</strong></label><input id="colla" class="form-control" type="text" placeholder="The Academic College Of Tel Aviv-Yaffo" name="address"></div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="add"><strong>Address</strong><br></label><input id="add" class="form-control" type="text" placeholder="Rabenu Yeruham 2" name="city"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="city"><strong>City</strong></label><input id="city" class="form-control" type="text" placeholder="Yaffo" name="country"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><button id="profbtn" class="btn btn-primary btn-sm" type="submit" style="background-color: #51c2bb;height: 38px;width: 110px;font-size: 16px;">Save&nbsp;</button></div>
                                                <h3 id="success" style="color:green;"></h3>
                                            </form>
                                        </div>
                                        <div class="card-header py-3" style="height: 57px;">
                                            <p class="text-primary m-0 font-weight-bold">Classrooms Info</p>
                                        </div>
                                        <div class="card-body">
                                            <p></p>
                                            <form enctype=multipart/form-data id="fileform" action="upload-file" method="post">
                                                <div class="form-group">
                                                    <label>
                                                        <strong>1. Please Enter All Classes Details</strong>
                                                    </label>
                                                </div>
                                                <a class="btn btn-primary" href="download-class" style="background-color: #51c2bb;width: 125px;">Download classes</a>
                                                <a class="btn btn-primary" href="download-schedule" style="background-color: #51c2bb;width: 125px;">Download schedule</a>
                                                <img src="../static/img/excel-logo.jpg?h=bfc4023ca403989628158680eacea30c"
                                                    style="width: 100px;height: 100px;">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>
                                                                <strong>2. Upload Your Excel File Here</strong>
                                                                <br>
                                                            </label>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="file-drop-area">
                                                                <span class="fake-btn">Choose files</span>
                                                                <span class="file-msg">or drag and drop files here</span>
                                                                <input name="upload-file" type="file" class="file-input">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label for="city" style="margin: 0px ;">
                                                    <strong>3. Please Upload Your Institution's Schedule</strong>
                                                    <br>
                                                </label>
                                                <div class="form-group">
                                                    <div class="file-drop-area">
                                                        <span class="fake-btn">Choose files</span>
                                                        <span class="file-msg">or drag and drop files here</span>
                                                        <input name="upload-file2" type="file" class="file-input"></div>
                                                </div>
                                                <input class="btn btn-primary btn-sm" type="submit" value="Submit" style="background-color: #51c2bb;height: 38px;font-size: 16px;width: 125px;">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer" style="margin: auto;">
                <div class="container my-auto" style="margin: auto;">
                    <div class="text-center my-auto copyright"><span>Copyright © ClassIt 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bs-init.js?h=98fdbbd86223499341d76166d015c405"></script>
    <script src="../static/js/Drag-and-Drop-File-Input.js?h=5c15cb1692c4405b6343a937b7915b83"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="../static/js/theme.js?h=6d33b44a6dcb451ae1ea7efc7b5c5e30"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="../static/js/profile.js"></script>
</body>

</html>